<!--left sidebar illnesses.html-->

<div class="col-md-3 left">
	<nav>
		<div class="leftNav">
			<ul>
	            <li class="pushy-link"><a href="/"><svg xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" viewBox="0 0 50 110" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" clip-rule="evenodd"><path d="M4 4L3 106l44-49z" class="triangle0"/></svg>Больница Ассута</a></li>
	            <li class="pushy-link"><a href="/"><svg xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" viewBox="0 0 50 110" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" clip-rule="evenodd"><path d="M4 4L3 106l44-49z" class="triangle0"/></svg>Больница Ихилов</a></li>
	            <li class="pushy-link"><a href="/"><svg xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" viewBox="0 0 50 110" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" clip-rule="evenodd"><path d="M4 4L3 106l44-49z" class="triangle0"/></svg>Больница Асаф Арофе</a></li>
	            <li class="pushy-link"><a href="/"><svg xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" viewBox="0 0 50 110" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" clip-rule="evenodd"><path d="M4 4L3 106l44-49z" class="triangle0"/></svg>Больница Хадасса</a></li>
	            <li class="pushy-link"><a href="/"><svg xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" viewBox="0 0 50 110" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" clip-rule="evenodd"><path d="M4 4L3 106l44-49z" class="triangle0"/></svg>Больница им. Рабина</a></li>
	            <li class="pushy-link"><a href="/"><svg xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" viewBox="0 0 50 110" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" clip-rule="evenodd"><path d="M4 4L3 106l44-49z" class="triangle0"/></svg>Больница Каплан</a></li>
	            <li class="pushy-link"><a href="/"><svg xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" viewBox="0 0 50 110" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" clip-rule="evenodd"><path d="M4 4L3 106l44-49z" class="triangle0"/></svg>Больница им. Вольфсон</a></li>
	            <li class="pushy-link"><a href="/"><svg xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" viewBox="0 0 50 110" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" clip-rule="evenodd"><path d="M4 4L3 106l44-49z" class="triangle0"/></svg>Больница Рамбам</a></li>
	            <li class="pushy-link"><a href="/"><svg xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" viewBox="0 0 50 110" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" clip-rule="evenodd"><path d="M4 4L3 106l44-49z" class="triangle0"/></svg>Больница им. Шима</a></li>
	        </ul>
        </div>
	</nav>
	<div id="leftFeedback">
		<h3 class="text-uppercase">Бесплатная консультация</h3>
		<p>Узнайте план и стоимость лечения</p>
		<form>
			<div class="form-group">
			    <input type="text" id="feedbackName" placeholder="Имя:">
			    <input type="email" id="feedbackEmail" placeholder="Email:">
			    <input type="tel" id="feedbackTel" placeholder="Телефон с кодом:">
				<textarea placeholder="Вопрос, описание проблемы или диагноз:"></textarea>
			</div>		  	
		</form>
		<button type="submit" class="btn btn-default">Отправить</button>		
	</div>
</div>
<button class="menu-btn hidden-md hidden-lg">
    <svg xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" viewBox="0 0 280 880" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" clip-rule="evenodd"><path d="M23 877l251-427L14 17" class="control1 control0"/></svg>   
</button>